extends error-base.pug

block title
  | Error 414 - URI Too Long
block styles
  include ../css/emoji-astonished-face.css

block graphic
  - var altText = 'Astonished Face Emoji'
  .inline-img.emoji-astonished-face(role='img' alt=altText)
    | #{altText}

block errorTitle
  | Error 414 - URI Too Long

block errorSubtitle
  | Even web servers have limits.

block errorExplanation
  | It's good to know yours, too. Try something a little smaller.
