extends error-base.pug

block title
  | Error 415 - Unsupported Media Type
block styles
  include ../css/emoji-face-with-monocle.css

block graphic
  - var altText = 'Thinking Face Emoji'
  .inline-img.emoji-face-with-monocle(role='img' alt=altText)
    | #{altText}

block errorTitle
  | Error 415 - Unsupported Media Type

block errorSubtitle
  | Your HTTP Headers were bad

block errorExplanation
  | This doesn't normally happen to humans. Are you a robot? If so, do you dream?
