*
  padding 0
  margin 0
  border 0

body
  display flex
  max-width 625px
  margin 130px auto 0
  padding 0 25px

h1
  font-family Georgia, serif
  font-size 2rem
  margin 0 0 .25rem

.graphic
  margin-right 20px

.inline-img
  background-size contain
  height 128px
  width 128px
  font-size 0

.subheading
  font-family Arial, sans-serif
  font-size 1.5rem
  margin .5rem 0 .5rem

.explanation
  font-family Arial, sans-serif
  font-size .95rem

  p
    margin 12px 0 0 0

@media screen and (max-width: 550px)
  body
    padding 0 15px
    margin-top 30px

  .graphic
    display none

@media (prefers-color-scheme: dark)
  body
    background: hsl(0, 0, 12%)
    color: hsl(0, 0, 100%)
